<hmtl>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        
        
        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet"> 
<link rel='stylesheet' href='s.css'>
<!-- Latest compiled and minified JavaScript -->

    </head>
    
   <body ng-app='app' ng-controller='ctrl' ng-init='getSources();send()'>
       <div class='container-fluid'>
           
          
           <div class ="form-group">
            <label for="sel1">category</label>
  <select class="form-control select"  ng-model='category' ng-change='getSources()'>
    <option ng-repeat='c in categories' value='{{c}}'>{{c}}</option>
  </select>
           </div>
           
               
           <div class ="form-group">
           <label for="sel1">sorting type</label>
  <select class="form-control select"   ng-model='sortingType' ng-change='send()'>
   <option value='top'>top</option>
    <option value='latest'>latest</option>
               <option value='popular'>popular</option>
           </select>
           </div>

           
        <hr>
           <div class='row'>
               <div class='col-md-1 col-sm-1 col-xs-3 sources' ng-repeat='s in sources'>
               <img ng-click='getSelectedSource(s.id)' class='sourcesImages'  src='{{s.urlsToLogos.small}}'>
               </div>
           </div>
           
        <hr>
           
           
           
           
           
           
           
           
           
           <div class='row'>
               <div class='col-md-4 col-sm-6 col-xs-12 contentC'  ng-repeat='item in news.articles'>
       
       <div>
       <div class="card" >
           
          <div class="image">
             
            <img src='{{item.urlToImage}}' />
           
          </div>
          <div class="content pull-left">
              <small>{{item.publishedAt}}</small>
            <h1>
       {{item.title}}
       </h1>
              <p>
              {{item.description}}<br><br>
                  <a class="label label-info" href='{{item.url}}' target="_blank">
              read more
            </a>
                  
              </p>
              
            

            
          </div>
          <div class="clearfix">

          </div>
        </div>
       </div>
               </div>
               
               
              <!-- <div class='col-md-6'>
                  
                   
               </div> !-->
               
       </div>
       </div>
       
   
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
       <script src="https://code.jquery.com/jquery-3.1.1.min.js"> </script>
    <script src='js.js'></script>
    </body>
    
</hmtl>