.card {
      background: #fff;
      display: block;
      border: 1px solid #ddd;
    height: auto;
    margin-bottom: 10px;
    }


img{
height:50%;
width:100%;
}

    .content {
      float: left;
      height: auto;
      width: 100%;
      overflow: hidden;
      padding: 5px;
    }

    .content h4 {
      margin: 5px 0;
    }
iframe{
    width: 100%;
    height: 100%;
    
}