.card {
      background: #fff;
      display: block;
      border: 1px solid #ddd;
   /* width:60%;    12 and certeralize
    margin-left: 20%;
    margin-right: 20%; */
    width: 100%;
    
    font-family: 'Crimson Text', serif;
        
    
    background-color: #F8F8F8;
    margin-bottom: 10px;
    margin-bottom: 10px;
    color:#7A7A7A;
    
    }

hr{
    width:90%;
    border-top-color:#807d7d;
    
}
.contentC{
    height: 100vh;
   
    
}
.selectrow{
width:60%;
    margin-left:20%;
        margin-right:20%;
    margin-bottom: 1%;
    margin-top: 1%;
}





.box {
  height: 30%;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.sourcesImages{
   height: auto; 
width: auto;
    margin:1px;
     cursor:pointer;
}


    .content {
      float: left;
     
      width: 100%;
      overflow: hidden;
      padding: 5px;
        
    }

    .content h1 {
      padding: 5px 0;
    }
.content p {
    font-size: 1.4em;
     
    
}
small{
    color:rgb(116, 111, 111);
    font-size: 100%;
}
div:not(.box , .contentC) {
    height: auto !important;
    
}
#note{
    text-align:center;
}